html, body, .mi4 {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

.mi4 .mi4-box {
  background: #000;
  display: inline-block;
  padding: 10px 10px;
  position: absolute;
  border-top: 30px solid;
  border-bottom: 60px solid;
  border-radius: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
}

.mi4 .mi4-box::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 40px;
  height: 40px;
  border: 1px solid #333;
  border-radius: 40px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -40px;
  background-color: #332f2f;
}

.mi4 .mi4-preview {
  width: 120px;
  height: 240px;
  border: 1px solid #000;
  border-radius: 5px;
  background: url("./../resources/000.png") no-repeat center center;
  background-size: 100% 100%;
  background-color: #FFF;
  position: relative;
  z-index: 1;
}
